@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;
@inherits PanelComponent
@namespace Sandbox

<style>
    EntityTag {
	transform: translate( -50% );
	transition: opacity 0.2s ease-in;
	align-items: center;
	flex-direction: row;
	opacity: 1;
	display: flex;
    top:0;

	.tree {
		width: 39px;
		height: 40px;
		background-size: 65px 65px;
		background-image: url("materials/paf/three-trees.vtex");
		background-repeat: no-repeat;
		margin-right: 2px;
	}

	.column {
		flex-direction: column;
	}

	.info1 {
		font-family: Verdana;
		font-size: 24px;
		text-shadow: 0px 0px 2px green;
		color: #5cff4c;
	}

	.info2 {
		font-family: Verdana;
		font-size: 10px;
		text-shadow: 0px 0px 2px black;
		color: white;
		padding-left: 5px;
	}

	&.hidden {
		display: none;
	}
}

</style>

<root>
	<div class="tree"></div>
	<div class="column">
	<label class="info1">PAF Station</label>
		<label class="info2"> [Needs 'Refresh Objects' Permission]</label>
	</div>
</root>
